<div class="col ">
  <div class="row">
  <div class="col-md-8">
  <h1>Liste des categories</h1>
  </div>
  <div class="col-md-4">
  <app-boutton-action
  (clickEvent)="nouvelleCategory()">
  </app-boutton-action>
  </div>
  </div>
  <div class="col m-3">
<div class="row custom-border mb-3 p-3">
  <div class="col-md-3 custom-border-right">
    Code categories
  </div>
  <div class="col-md-3 ">
    Description categories
  </div>
</div>
  </div>
  <div class="row text-center">*

      <app-pagination></app-pagination>


  </div>
  </div>
