<div class="row mb-1 custom-border">
  <div class="col-md-2">
    <div class="border-right">
      <img src="../../assets/image/product.png.png" width="90px" height="90px">
    </div>
  </div>


  <div class="col-md-10 " >
    <div class="row  ">
      <!-- Detaille article -->
      <div class="col-md-4 border-right">
        <div class="col">
          <div class="d-flex">
            <span class=" "><i class="fa-solid fa-circle-info"></i></span>
            <span class="">Nom</span>
          </div>
          <div class="d-flex">
            <span><i class="fa-solid fa-circle-info"></i></span>
            <span>Prenom</span>
          </div>
          <div class="d-flex">
            <span><i class="fa-solid fa-dollar-sign"></i></span>
            <span>212 23 43 12</span>
          </div>


        </div>
      </div>
      <!--  Detaille commande-->
      <div class="col-md-4 border-right ">
        <div class="col">
          <div class="d-flex">
            <span class=" "><i class="fas fa-qrcode blue-color"></i></span>
            <span class="">CMD-12345678</span>
          </div>
          <div class="d-flex">
            <span><i class="fas fa-calendar-check blue-color"></i></span>
            <span>12/03/2012</span>
          </div>
          <div class="d-flex">
            <span><i class="fas fa-cart-arrea blue-color"></i></span>
            <span>livre</span>
          </div>


        </div>


      </div>

      <!-- button action -->
      <div class="col-md-4  ">
        <div class="row">
          <div class="col-md-4 text-center ">
            <button (click)="onHide()" type="button" class="btn  btn-link " data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fas fa-pencil-alt blue-color"></i>
              &nbsp; Modifier
            </button>
          </div>
          <div class="col-md-4 text-center ">
            <button (click)="onHide()" type="button" class="btn  btn-link " data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fas fa-trash-alt blue-color"></i>
              &nbsp; Supprimer
            </button>
          </div>
    </div>
  </div>
</div>

