<div class="col ">
  <div class="row">
  <div class="col-md-8">
  <h1>Mouvement du Stock</h1>
  </div>
  <div class="col-md-4">
  <app-boutton-action></app-boutton-action>
  </div>
  </div>
  <div class=" card row">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne">
              collapse
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            some placeholder

          </div>

        </div>
      </div>

    </div>
 <app-detail-mvt-stk-article></app-detail-mvt-stk-article>
  </div>
  <div class="row text-center">*

      <app-pagination></app-pagination>


  </div>
  </div>

