.main-container{
  margin: 50px;

}
.min-height-600{
  min-height: 600px;
}
.reduced-width {
  width: 200px; /* Réglez la largeur souhaitée pour le menu réduit */
}
.no-flex-wrap{
  flex-wrap:inherit !important ;
}

