<div class="row mb-1 custom-border">
  <div class="col-md-3">
    <div class="border-right">

    </div>
  </div>


  <div class="col-md-12">
    <div class="row  ">
      <!-- Detaille article -->
      <div class="col-md-3 border-right">
          <div class="row text-center">
            <span class="" >Code article</span>
          </div>
      </div>

      <!--  Detaille categorie-->
      <div class="col-md-3 border-right ">
        <div class="row">
              <div class=" col-mb-12 text-center">
                <h5>Designation <article></article></h5>
              </div>
        </div>
      </div>

      <div class="col-md-2 border-right ">
        <div class="row">
              <div class=" col-mb-12 text-center">
                6
              </div>
        </div>
      </div>

      <div class="col-md-2 border-right ">
        <div class="row">
              <div class=" col-mb-12 text-center">
               12.2
              </div>
        </div>
      </div>

      <!-- button action -->
      <div class="col-md-2 border-right ">
        <div class="row">
              <div class=" col-mb-12 text-center">
                70
              </div>
        </div>
      </div>
    </div>
  </div>
</div>


