<div class="row mb-1 custom-border">
  <div class="col-md-2">
    <div class="border-right">
      <img src="../../assets/image/product.png.png" width="90px" height="90px">
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <!-- Detaille article -->
      <div class="col-md-4 border-right">
        <div class="col">
          <div class="d-flex">
            <span class="blue-color"><i class="fa-solid fa-circle-info"></i></span>
            <span class="blue-color">Nom</span>
          </div>
          <div class="d-flex">
            <span class="blue-color"><i class="fa-solid fa-circle-info"></i></span>
            <span class="blue-color">Prenom</span>
          </div>
          <div class="d-flex">
            <span class="blue-color"><i class="fas fa fa-phone-alt"></i></span>
            <span class="blue-color">212 06 23 32 22</span>
          </div>
        </div>
      </div>

      <!-- Detaille categorie-->
      <div class="col-md-4 border-right">
        <div class="col">
          <div class="d-flex">
            <span class="blue-color"><i class="fas fa-home"></i></span>
            <span class="blue-color">Adresse 1 Adresse 2</span>
          </div>
          <div class="d-flex">
            <span class="blue-color"><i class="fas fa-map-marker-alt"></i></span>
            <span class="blue-color">20200 ville</span>
          </div>
          <div class="d-flex">
            <span class="blue-color"><i class="fas fa-globe-europe"></i></span>
            <span class="blue-color">Pays</span>
          </div>
        </div>
      </div>

      <!-- button action -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <button type="button" class="btn btn-link"><i class="fa-solid fa-pencil blue-color"></i>
              &nbsp; Modifier</button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-link"><i class="fa-solid fa-trash blue-color"></i>
              &nbsp; Supprimer</button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-link"><i class="fa-solid fa-list blue-color"></i>
              &nbsp; Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
