<div class="row mb-1 custom-border">
  <div class="col-md-3">
    <div class="border-right">

    </div>
  </div>


  <div class="col-md-12" *ngIf="onHide() == true">
    <div class="row  ">
      <!-- Detaille article -->
      <div class="col-md-3 border-right">
          <div class="row text-center">
            <span class="" >10/06/2023</span>
          </div>
      </div>
      <!--  Detaille categorie-->
      <div class="col-md-3 border-right ">
        <div class="row">
              <div class=" col-mb-12">
                 <h3></h3>
              </div>
              <div class=" col-mb-12 text-center">
                <h5>139</h5>
              </div>
        </div>
      </div>

      <div class="col-md-3 border-right ">
        <div class="row">
              <div class=" col-mb-12">
                 <h3></h3>
              </div>
              <div class=" col-mb-12 text-center">
                <h5>Sortie</h5>
              </div>
        </div>
      </div>

      <!-- button action -->
      <div class="col-md-3 border-right ">
        <div class="row">
              <div class=" col-mb-12">
                 <h3></h3>
              </div>
              <div class=" col-mb-12 text-center">
                <h5>Commande de stock</h5>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

