<div class="col ">
  <div class="row">
  <div class="col-md-8">
  <h1>Liste des fournisseurs</h1>
  </div>
  <div class="col-md-4">
  <app-boutton-action
  (clickEvent)="nouveauFournisseur()"
  ></app-boutton-action>
  </div>
  </div>
  <div class=" card row">
  <app-detail-clt-frs></app-detail-clt-frs>
  <app-detail-clt-frs></app-detail-clt-frs>
  <app-detail-clt-frs></app-detail-clt-frs>
  <app-detail-clt-frs></app-detail-clt-frs>

  </div>
  <div class="row text-center">*

      <app-pagination></app-pagination>


  </div>
  </div>
